.rich_media_inner {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.6;
	
	-webkit-touch-callout: none;
	font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue",
		"PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI",
		"Microsoft YaHei", Arial, sans-serif;
	color: #333;
	letter-spacing: .034em;
}
.rich_media_area_primary {
	padding: 20px 16px 12px;
	padding: calc(20px + constant(safe-area-inset-top))
		calc(16px + constant(safe-area-inset-right)) 12px
		calc(16px + constant(safe-area-inset-left));
	padding: calc(20px + env(safe-area-inset-top))
		calc(16px + env(safe-area-inset-right)) 12px
		calc(16px + env(safe-area-inset-left));
}

.rich_media_inner h1,
.rich_media_inner h2,
.rich_media_inner h3,
.rich_media_inner h4,
.rich_media_inner h5,
.rich_media_inner h6 {
	font-weight: 400;
	font-size: 16px
}

* {
	margin: 0;
	padding: 0
}
body,html {
	max-width: 640px;
    margin: 0 auto;
}
a {
	color: #576b95;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}


.rich_media_title {
	font-size: 22px!important;
	line-height: 1.4;
	margin-bottom: 14px
}

.rich_media_meta_list {
	margin-bottom: 22px;
	line-height: 20px;
	font-size: 0;
	word-wrap: break-word;
	word-break: break-all
}

.rich_media_meta_list em {
	font-style: normal
}

.rich_media_meta {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 10px 0;
	font-size: 15px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.rich_media_meta.icon_appmsg_tag {
	margin-right: 4px
}

.rich_media_meta.appmsg_title_tag {
	margin-right: 8px
}

.rich_media_meta.meta_tag_text {
	margin-right: 0
}

.rich_media_meta_primary {
	display: block;
	margin-bottom: 10px;
	font-size: 15px
}

.meta_original_tag {
	padding: 0 .5em;
	font-size: 12px;
	line-height: 1.4;
	background-color: #f2f2f2;
	color: #888
}

.meta_enterprise_tag img {
	width: 30px;
	height: 30px !important;
	display: block;
	position: relative;
	margin-top: -3px;
	border: 0
}

.rich_media_meta_link {
	color: #576b95
}

.rich_media_meta_text {
	color: rgba(0, 0, 0, 0.3)
}

.rich_media_meta_text.rich_media_meta_split {
	padding-left: 10px
}

.rich_media_meta_text.rich_media_meta_split:before {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -6px;
	content: ' ';
	display: block;
	border-left: 1px solid #888;
	width: 200%;
	height: 130%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0
}

.rich_media_meta_text.article_modify_tag {
	position: relative
}

.rich_media_meta_nickname {
	position: relative
}

.rich_media_thumb_wrp {
	margin-bottom: 6px
}

.rich_media_thumb_wrp .original_img_wrp {
	display: block
}

.rich_media_thumb {
	display: block;
	width: 100%
}

.rich_media_content {
	overflow: hidden;
	color: #333;
	font-size: 17px;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	text-align: justify;
	position: relative;
	z-index: 0
}

.rich_media_content * {
	max-width: 100% !important;
	box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	word-wrap: break-word !important
}

.rich_media_content p {
	clear: both;
	min-height: 1em
}

.rich_media_content em {
	font-style: italic
}

.rich_media_content fieldset {
	min-width: 0
}

.rich_media_content .list-paddingleft-1,.rich_media_content .list-paddingleft-2,.rich_media_content .list-paddingleft-3
	{
	padding-left: 2.2em
}

.rich_media_content .list-paddingleft-1 .list-paddingleft-2,.rich_media_content .list-paddingleft-2 .list-paddingleft-2,.rich_media_content .list-paddingleft-3 .list-paddingleft-2
	{
	padding-left: 30px
}

.rich_media_content .list-paddingleft-1 {
	padding-left: 1.2em
}

.rich_media_content .list-paddingleft-3 {
	padding-left: 3.2em
}

.rich_media_content .code-snippet,.rich_media_content .code-snippet__fix
	{
	max-width: 1000% !important
}

.rich_media_content .code-snippet *,.rich_media_content .code-snippet__fix *
	{
	max-width: 1000% !important
}

.db {
	display: block
}

.tips_global_primary {
	color: rgba(0, 0, 0, 0.3)
}

.reset_btn {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: 0;
	background-color: transparent;
	border: 0;
	font-family: inherit;
	display: inline-block;
	vertical-align: middle
}

.rich_media_content img {
	height: auto !important
}

blockquote {
	padding-left: 10px;
	border-left: 3px solid #dbdbdb;
	color: rgba(0, 0, 0, 0.5);
	font-size: 15px;
	padding-top: 4px;
	margin: 1em 0
}

.blockquote_info {
	color: rgba(0, 0, 0, 0.3);
	margin-top: 1.17647059em;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto
}

.blockquote_article {
	display: block
}

.tan_content {

    height: 100%;

}

.tan_content li {

    padding: 0 1rem;

    margin-bottom: 2.15rem;

}

.tan_content li:first-child {

    margin-top: 1.5rem;

}

.tan_avatar1 {

    width: 1.7rem;

    height: 1.7rem;

    border-radius: 100%;

    margin-right: 0.675rem;

    flex-shrink: 0;

}

.tan_name1 {

    font-size: 0.7rem;

    font-weight: bold;

    margin-top: 0.1rem;

}

.tan_comment_content {

    font-size: 0.675rem;

    color: #181818;

    margin-top: 0.2rem;

    line-height: 0.8rem;

}

.fav_gray_icon {

    width: 0.8rem;

    height: 0.7rem;

}

.tan_comment_count {

    font-size: 0.6rem;

    color: #9b9b9b;

    margin-top: 0.3rem;

}

.tan_sec_comment {

    padding-left: 2.375rem;

    margin-top: 0.95rem;

}

.tan_sec_comment .tan_avatar2 {

    width: 1.35rem;

    height: 1.35rem;

    border-radius: 100%;

    margin-right: 0.675rem;

    flex-shrink: 0;

}

.tan_sec_comment .tan_name2 {

    font-size: 0.65rem;

    font-weight: bold;

    margin-top: 0.1rem;

}

/*flex box*/

.flex {

	display: flex;

}



.basis-xs {

	flex-basis: 20%;

}



.basis-sm {

	flex-basis: 40%;

}



.basis-df {

	flex-basis: 50%;

}



.basis-lg {

	flex-basis: 60%;

}



.basis-xl {

	flex-basis: 80%;

}



.flex-sub {

	flex: 1;

}



.flex-twice {

	flex: 2;

}



.flex-treble {

	flex: 3;

}



.flex-direction {

	flex-direction: column;

}



.flex-wrap {

	flex-wrap: wrap;

}



.align-start {

	align-items: flex-start;

}



.align-end {

	align-items: flex-end;

}



.align-center {

	align-items: center;

}



.align-stretch {

	align-items: stretch;

}



.self-start {

	align-self: flex-start;

}



.self-center {

	align-self: flex-center;

}



.self-end {

	align-self: flex-end;

}



.self-stretch {

	align-self: stretch;

}



.align-stretch {

	align-items: stretch;

}



.justify-start {

	justify-content: flex-start;

}



.justify-end {

	justify-content: flex-end;

}



.justify-center {

	justify-content: center;

}



.justify-between {

	justify-content: space-between;

}



.justify-around {

	justify-content: space-around;

}
@media screen and (min-width: 318.75px) {

    body, html {font-size: 17px;}

}

@media screen and (min-width: 337.5px) {

    body, html {font-size: 18px;}

}

@media screen and (min-width: 356.25px) {

    body, html {font-size: 19px;}

}

@media screen and (min-width: 375px) {

    body, html {font-size: 20px;}

}

@media screen and (min-width: 393.75px) {

    body, html {font-size: 21px;}

}

@media screen and (min-width: 412.5px) {

    body, html {font-size: 22px;}

}

@media screen and (min-width: 431.25px) {

    body, html {font-size: 23px;}

}

@media screen and (min-width: 450px) {

    body, html {font-size: 24px;}

}
ol,ul {

    list-style: none;

}